---
layout: layout.liquid
pageTitle: Kontakt
---
<div class="my-6">
    <h4 class="text-xl text-indigo-600">Kontakt</h4>
    <p class="my-1">Treten Sie mit mir in Kontakt. Klicken Sie hierzu auf den Button.</p>
    <div class="mt-4">
        <script type="text/javascript" language="javascript">
            // Email obfuscator script 2.1 by Tim Williams, University of Arizona
            // Random encryption key feature coded by Andrew Moulden
            // This code is freeware provided these four comment lines remain intact
            // A wizard to generate this code is at http://www.jottings.com/obfuscator/
            {
                coded = "vnVJnq@vnVJnqcncqL.OL?uPdtL1w=sSqwnsw ILduJwL"
                key = "LMsv1R64pHxbt73QqeCkmcByGUVN9jPXJn2WzAhOIYSr0KDulia85FfZdwEoTg"
                shift = coded.length
                link = ""
                for (i = 0; i < coded.length; i++) {
                    if (key.indexOf(coded.charAt(i)) == -1) {
                        ltr = coded.charAt(i)
                        link += (ltr)
                    }
                    else {
                        ltr = (key.indexOf(coded.charAt(i)) - shift + key.length) % key.length
                        link += (key.charAt(ltr))
                    }
                }
                document.write("<a class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' href='mailto:" + link + "'>Kontakt</a>")
            }
            //-->
        </script><noscript>Sorry, you need Javascript on to email me.</noscript>
    </div>
</div>