---
layout: layout.liquid
pageTitle: Über mich
---
<div class="my-3">
    <p class="p-1">Software-Entwicklung, gerade im Web-Kontext, ist eine meiner großen Leidenschaften.
        Angefangen habe ich mit PHP und selbstgebauten Website, vertieft habe ich das Wissen dann im
        CMS-Bereich mit TYPO3.</p>
    <p class="p-1">Aktuell beschäftige ich mit der Entwicklung mit Java, insbesondere mit Spring und
        Quarkus.</p>
</div>