<!DOCTYPE html>
<html lang="de" class="text-gray-900 antialiased leading-tight">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icon/favicon-16x16.png">
    <link rel="manifest" href="/img/icon/site.webmanifest">
    <link rel="shortcut icon" href="/img/icon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/img/icon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title>{{ pageTitle }}</title>

    <!-- FONTS -->
    <link rel="stylesheet" href="/fonts.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    
    <link href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">

    <style>
        body {
            font-family: 'Noto Sans', sans-serif;
        }
    </style>

</head>

<body class="min-h-screen bg-gray-100">
    <div class="container mx-auto">
        {% include partials/header %}

        <main class="mx-4">
            {{ content }}
        </main>

        {% include partials/footer %}
    </div>
</body>

</html>