<footer>
    <hr class="my-6">

    <div class="flex flex-row justify-between">
        <div class="">
            <p class="my-1 text-xs">Zu finden bin ich auch auf den folgenden Seiten:</p>

            <div class="text-3xl">
                <a rel="me" href="https://mastodon.technology/@rotespferd" target="_blank"><i
                        class="fab fa-mastodon" style="color:rgb(0, 119, 181)"></i></a>
                <a href="https://github.com/rotespferd" target="_blank"><i class="fab fa-github-square"></i></a>
                <a href="https://gitlab.com/rotespferd" target="_blank"><i class="fab fa-gitlab"
                        style="color: #e24329"></i></a>
                <a href="https://www.instagram.com/r0tespf3rd/" target="_blank"><i
                        class="fab fa-instagram-square" style="color: #c0019e"></i></a>
                <a href="https://twitter.com/rotes_pferd" target="_blank"><i class="fab fa-twitter-square"
                        style="color: rgba(29,161,242,1.00)"></i></a>
                <a href="https://www.xing.com/profile/Marian_Hahne" target="_blank"><i
                        class="fab fa-xing-square" style="color: #006567"></i></a>
                <a href="https://www.linkedin.com/in/marian-hahne-a531b8106" target="_blank"><i
                        class="fab fa-linkedin" style="color:rgb(0, 119, 181)"></i></a>
            </div>
        </div>

        <div class="">
            <a href="/impressum" class="underline text-sm hover:text-indigo-600">Impressum</a>
        </div>
    </div>
</footer>