<header>
    <a href="/">
        <img src="/img/logo.png" alt="Logo Dren Tech" class="h-48 w-48 mx-auto my-4">
    </a>

    <div class="mx-2 my-6 md:text-center">
        <h1 class="text-4xl text-center">Marian Hahne</h1>
        <h2 class="text-xl uppercase text-center">Software-Entwicklung und Politik</h2>
    </div>
</header>

<nav>
    <ul
        class="px-6 py-2 my-6 flex flex-row justify-evenly justify-items-center text-xl text-indigo-600 border-t-2 border-b-2">
        <li><a class="hover:underline" href="/">Home</a></li>
        <li><a class="hover:underline" href="/ueber-mich">Über mich</a></li>
        <li><a class="hover:underline" href="/beitraege">Beiträge</a></li>
        <li><a class="hover:underline" href="/projekte">Projekte</a></li>
        <li><a class="hover:underline" href="/kontakt">Kontakt</a></li>
    </ul>
</nav>